include ../global/mixins
section.about
    .container
        +title("About Us", "We are added our major Services")

        ul.about__list
            li.about__item
                .icon.icon-like
                h3.about__header Facebook Marketing
                p.about__description Lorem ipsum
            li.about__item
                .icon.icon-book
                h3.about__header landing pages Creation
                p.about__description Lorem ipsum
            li.about__item
                .icon.icon-message
                h3.about__header Ads menegment
                p.about__description Lorem ipsum