section.form-section
    .container
        .title
            h2.title__header Get Your Free Facebook Analysis Now
            .title__text Enter your details below
        .btn-down: a.arrow-down: i.fa.fa-angle-down

        .form-container.is-hidden
            form(method="post" action="#").form
                button(type="button").form__close-button x
                .form__text.
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                .form__fields
                    input.form__input(type="text" placeholder="Your name" data-valid="required")
                    input.form__input(type="text" placeholder="Contact Number" data-valid="required" data-number)
                    input.form__input(type="email" placeholder="Contact E-mail" data-valid="required" data-email)
                button(type="submit").button.button--text-uppercase.button--red Submit now