.approch {

  padding:86px 0 94px;
  background: #f3f3f3;

  @media (max-width: 700px) {
    padding: 20px 0 20px;
  }

  &__list {
    counter-reset: count;
    margin:0;
    padding:0;
  }

  &__item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom:40px;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 1px rgba(214,214,214,1);
    color: $color-darkgrey;
    background: #fff;
    align-items: center;
    justify-content:space-between;

    @media (max-width: 700px) {
      flex-wrap: wrap;
    }

    .approch__text {
      padding:0px 90px;
      
      @media (max-width: 700px) {
        width: 100%;
        text-align: center;
      }

      @media (max-width: 980px) {
        padding: 10px 15px;
      }
    }
    
    &:nth-child(2n) {
      flex-direction:row-reverse;



      text-align: right;


      .approch__step {
        right: auto;
        left: -52px;

      }

    }

  }

  &__image {
    position: relative;
    max-width: 340px;
    max-height: 236px;
    display: inline-block;
    vertical-align: top;
    
    @media (max-width: 700px) {
      margin: 15px auto;
      display: block;
    }

    @media (max-width: 985px) {
      max-width:calc(340px / 1.5);
      max-height: calc(236px / 1.5);
    }
  }

  &__picture {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    width:64%;
    font-size: 0.875rem;
    padding:70px 70px 55px 90px;
  }

  &__step {
    @include centerer(v);
    right:-58px;
    width:103px;
    height:103px;
    padding-top:10px;
    border-radius: 5px;
    border: 2px solid #fff;
    text-align: center;
    font-size:1.25rem;
    background: $color-red;
    color: #fff;

    &:before {
      content: counter(count);
      counter-increment: count;
      display: block;
      font-family:$ff-steps;
      font-size:3rem;
      line-height:1;
      color: #fff;
    }

    @media (max-width: 986px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 6px;
    font-size:1.125rem;
    font-weight:bold;
    font-family:$ff-main-bold;
  }

  &__description {
    margin: 0;
    line-height:1.5;
  }
}