.nav {
  display: inline-block;
  vertical-align: top;
  margin-left:160px;

  @media (max-width: 1000px) {
    margin-bottom:25px;
  }

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 10px 7px;
    font-family: $ff-main-bold;
    text-decoration: none;
    text-transform: capitalize;
    color: $color-darkgrey;
    transition: .3s;

    &--active {
      color: $color-red;
    }

    &:hover, &:active {
      color: $color-red;
    }

    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-left:15px;
      width:5px;
      height: 5px;
      border-radius: 50%;
      background: $color-darkgrey;
    }

    @media (max-width: 419px) {
      display: block;
      &:after {
        display: none;
      }
    }

    &:last-child:after {
      display: none;
    }
  }
}