$ff-main: 'helvetica-neue-regular';
$ff-main-bold: 'helvetica-neue-bold';
$ff-main-light: 'helvetica-neue-light';
$ff-steps: 'georgia-bold';

$color-lightgrey: #f0f2f4;
$color-grey: #e2e2e2;
$color-darkgrey: #424242;
$color-red: #de2b24;